@import "~@sparkpost/styles/src/assets/scss/shared/config";
@import "~@sparkpost/styles/src/assets/scss/shared/functions";

.actionLink {
  display: inline-block;
  padding: 0 rem(12);

  color: color(orange);
  font-weight: 400;
  font-size: rem(12);

  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: color(orange--dark);
  }
}
