@import "~@sparkpost/styles/src/assets/scss/shared/config";
@import "~@sparkpost/styles/src/assets/scss/shared/functions";

.builder-record {
  position: relative;
  margin-bottom: rem(36);

  &__ghost.panel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
  }

  &.is-stickied .builder-record__ghost {
    position: static;
  }

  &__panel.panel {
    position: relative;
    margin-bottom: 0;
    width: auto;
    transition: box-shadow 0.35s;
  }

  &.is-stickied .builder-record__panel.panel {
    position: fixed;
    left: 50%;
    bottom: rem(18);
    box-shadow: shadow(3);
    transform: translate(-50%, 0);
    z-index: 10;
  }

  &__instruction {
    font-size: rem(14);
    line-height: rem(18);
  }
}
