.has-error   { color: color(alert);   }
.has-warning { color: color(mustard); }
.is-valid { color: color(green); }

.text--semibold {
  font-weight: 500;
}

.text--small {
  font-size: rem(12);
  font-weight: 500;
  color: grayscale(4);
  line-height: rem(15);
}

// Responsive box model helpers don't exist
// This is here only to produce a 1rem gap between the input and button on mobile
.responsiveBump {
  margin-top: rem(18);

  @media screen and (min-width: break(md)) {
    margin-top: 0;
  }
}
