html {
  background: grayscale(9);
  @media screen and (min-width: break(xl)) {
    font-size: 20px;
  }
}

$footer-height: 24rem; // Change this later
$nav-height: rem(60);

.pageWrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 0;
  padding-top: $nav-height;

  @media screen and (min-width: break(md)) {
    padding-bottom: $footer-height;
  }
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: break(xl);

  &--tool {
    padding: rem(30) 0;

    min-height: 0;
    @media screen and (min-width: break(md)) {
      padding: rem(60) 0;
      min-height: 70vh;
    }
  }
}
