/*
 * Vendor
 */
$fa-font-path: "~@sparkpost/styles/src/assets/fonts";
@import "~@sparkpost/styles/src/assets/scss/vendor/normalize";
@import url("//cloud.typography.com/6240112/781206/css/fonts.css");
@import "~@sparkpost/styles/src/assets/scss/vendor/fa/font-awesome";

/*
 *  Shared
 *  These are global vars and functions - does not compile into css
 */
@import "~@sparkpost/styles/src/assets/scss/shared/config";
@import "~@sparkpost/styles/src/assets/scss/shared/functions";

/*
 *  Base
 */
@import "~@sparkpost/styles/src/assets/scss/foundation/base";
@import "~@sparkpost/styles/src/assets/scss/foundation/grid";
@import "~@sparkpost/styles/src/assets/scss/foundation/typography";
@import "~@sparkpost/styles/src/assets/scss/foundation/helpers";

/*
 *  Components
 *  These can be imported within react components to ensure correct order
 */
@import "~@sparkpost/styles/src/assets/scss/components/panel";
@import "~@sparkpost/styles/src/assets/scss/components/formelements";
@import "~@sparkpost/styles/src/assets/scss/components/popover";

@import "./layout";
@import "./_helpers";

// This is a global override, we only use one input error
// TODO change later
.input__error {
  display: block;
  position: static;
  line-height: 2em;
}
