@import "~@sparkpost/styles/src/assets/scss/shared/config";
@import "~@sparkpost/styles/src/assets/scss/shared/functions";

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background: grayscale(1);

  h1, h2, h3, h4, h5, h6, p {
    color: grayscale(white);
  }

  &__nav {
    padding: rem(33) 0;

    border-top: 1px solid grayscale(2);

    .logo {
      height: rem(30);
      width: auto;
    }
  }

  &__link {
    display: inline-block;
    padding: 0 rem(21);

    font-family: $gotham-regular;
    font-size: rem(12);
    color: grayscale(5);
    font-weight: 400;

    &:hover {
      color: grayscale(white);
      text-decoration: none;
    }
  }
}
