@import "~@sparkpost/styles/src/assets/scss/shared/config";
@import "~@sparkpost/styles/src/assets/scss/shared/functions";

.sigTable__row--error {
  .table__cell {
    padding: rem(12) 0 rem(39) rem(18);

    @media screen and (min-width: break(md)) {
      padding: rem(12) rem(18) rem(39);
    }
  }
}

.sigTable__statusCell {
  position: relative;
}

.sigTable__error {
  position: absolute;
  left: rem(18);
  bottom: rem(17);
}
